
@{
    ViewBag.Title = "End";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    h1{font-size: 3rem; line-height: 3rem; margin-bottom: 1rem;}
	  h1 b{color: #6fccdd;}
	  button{
		font-family: dk2Font;
		background-color: #ff6666 !important;
		border: 0 !important;
		border-radius: 20px !important;
		padding: 0.5rem 3rem !important;
		min-width: 100px;
	  }
</style>
<body class="text-center" style="background-image:url(../../Images/bg2.jpg)">

    <form class="form-signin">
        <h1 class="text-white">Thank you for registering.<br>An email confirmation will<br>be sent to you shortly.</h1>
        @*<a href="#"><button class="btn btn-primary mt-5" type="submit">OK</button></a>*@
    </form>
</body>

