
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<body class="text-center" style="background-image:url(../../Images/bg2.jpg)">
    <form class="form-signin">
        <h1 class="text-white">You are already registered.</h1>
    </form>
</body>

